<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="footer-copyright text-center py-3">&copy; <script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script> Elementaj
      </div> 
    </div>
  </footer>
  

  <div class="container py-3 text-center">
      <a href="https://www.facebook.com/elementaj/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook fa-2x ml-3"></i></a>
      <a href="https://elementaj.bandcamp.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-bandcamp fa-2x ml-3"></i></a>
      <a href="https://open.spotify.com/artist/1yDouTv2q4suFkrv1qAtLp?si=D9hlhX_GRRGNObNsZHI0zg"><i class="fab fa-spotify fa-2x ml-3"></i></a>
      <a href="https://soundcloud.com/elementaj_band"><i class="fab fa-soundcloud fa-2x ml-3"></i></a>
      <a href="https://music.apple.com/us/artist/elementaj/1487750603"><i class="fab fa-itunes fa-2x ml-3"></i></a>
      <iframe src="https://www.bandsintown.com/artist/elementaj/track_button?size=small&display_tracker_count=false_color=%23FFFFFF&background_color=%2300B4B3&hover_color=%2300908f" height="25" width="165" scrolling="no" frameborder="0" style="border:none; overflow:hidden"; allowtransparency="true" ></iframe>
  </div> 