<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="footer-copyright text-center py-3">&copy; <script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script> Elementaj
      </div> 
    </div>
  </footer>
  

  <div class="container py-3 text-center">
      <a href="https://www.facebook.com/elementaj/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook fa-2x ml-3"></i></a>
      <a href="https://twitter.com/Elementaj1" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter fa-2x ml-3"></i></a>
      <a href="https://www.instagram.com/elementaj_01/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram fa-2x ml-3"></i></a>
      <a href="https://elementaj.bandcamp.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-bandcamp fa-2x ml-3"></i></a>
      <a href="https://open.spotify.com/artist/1yDouTv2q4suFkrv1qAtLp?si=D9hlhX_GRRGNObNsZHI0zg" target="_blank" rel="noopener noreferrer"><i class="fab fa-spotify fa-2x ml-3"></i></a>
      <a href="https://soundcloud.com/elementaj_band" target="_blank" rel="noopener noreferrer"><i class="fab fa-soundcloud fa-2x ml-3"></i></a>
  </div> 

