/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { #elementaj{
    padding-top: 12%; 
} }


@media (max-width: 575.98px) { #elementaj{
    font-size: 55px; 
} }


@media (max-width: 575.98px) {  #jumbotron-pic {
    background-attachment: scroll !important; background-position: center center !important;
} }


/* Band pics */

@media (max-width: 575.98px) { .card{
    position: relative;
    bottom: 5%;
} }

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { #elementaj{
    padding-top: 12%; 
} }

@media (max-width: 767.98px) { #elementaj{
    font-size: 55px; 
} }

@media (max-width: 767.98px) {  #jumbotron-pic {
    background-attachment: scroll !important; background-position: center center !important;
} }


/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { }

/* // Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width */


 #jumbotron-pic{
    background-image: url("../images/elementaj-blur.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 525px;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}

@keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}


#elementaj {
      font-weight: 100;
      letter-spacing: 10px;
  }

  a:link {color: black;} 
  a:visited {color: black;} 
  a:hover {color: black !important;} 
  a:active {color: black;} 
  a {text-decoration: none !important;}

#uc{
    font-weight: 100;
    letter-spacing: 5px;
}

#about-us, .more-music{
    font-weight: 200;
}

#one, #two, #three{
    width: 87%; 
}

#img-six, #img-seven{
    width: 100%!important;
    height: 390px!important;
    object-fit: cover;
  }

.fa-facebook {
    color: steelblue;
}

.fa-bandcamp {
    color: lightseagreen
}

.fa-spotify {
    color: mediumseagreen;
}

.fa-soundcloud {
    color: rgb(255,84,0);
}

.fa-itunes {
    color: orchid;
}


.pcs{
    font-weight: 100;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 15%;
  }

.newsletter{
    letter-spacing: 4px;
}


/* Posts - CSS */
.post-title{
    font-weight: 100;
    font-size: 35px;
}

#page-title{
    font-weight: 100;
    font-size: 35px;
}


.article{
    padding-top: 4%;
    text-align: center;
}

.publish{
    font-weight: 100;
}

.publish-two{
    font-weight: 300;
}

.publish-three{
    font-weight: 200;
    font-size: 20px;
    word-break: break-all;
    display: inline-block;
}

#content {
    font-weight: 100;
}

#back-to-home{
    font-weight: 200;
    font-size: 16px;
}

@media (max-width: 767.98px) { .spotify-ep1{
    width: 350px;
} }



/* Posts - CSS */


/* Videos */


/* Videos */