<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/style.css' | relative_url }}">

  <title>Elementaj</title>
  </head>
  <body class="shows">

        {% include header.html %}

    <br>
    <br>
    <br>
    <br>

{{/*  
    <div class="container">
      <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=2065207884/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/track=2029448453/transparent=true/" seamless><a href="http://elementaj.bandcamp.com/album/ep-1">EP 1 by Elementaj</a></iframe>
  </div>
  
    <br>
  <div class="container">
    <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=2065207884/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/track=1145704724/transparent=true/" seamless><a href="http://elementaj.bandcamp.com/album/ep-1">EP 1 by Elementaj</a></iframe>
  </div>
  
    <br>
    <div class="container">
    <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=2065207884/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/track=1472466216/transparent=true/" seamless><a href="http://elementaj.bandcamp.com/album/ep-1">EP 1 by Elementaj</a></iframe>
    </div>
  
  <br>
  
  <div class="container">
  <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=2065207884/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/track=3362461525/transparent=true/" seamless><a href="http://elementaj.bandcamp.com/album/ep-1">EP 1 by Elementaj</a></iframe>
</div>  */}}

  <br>
  
  <div class="container">
  <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/track=3835326534/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://elementaj.bandcamp.com/track/sheridan-2">Sheridan by Elementaj</a></iframe>
  </div>
  
    <br>
  
      <div class="container">
        <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/track=2006537364/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://elementaj.bandcamp.com/track/doves-of-rebellion-3">Doves of Rebellion by Elementaj</a></iframe>
    </div> 

  
    {% include footer.html %}
       
    

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/javascript/app.js"></script>

    <!-- Optional JavaScript -->
    <script type="text/javascript" src="assets/javascript/app.js"></script>

  </body>
</html>